<div class="pi-section-w pi-section-base">
  <div style="padding: 30px 40px 26px" class="pi-section">
    <div class="pi-row">
      <div class="pi-col-sm-4 pi-center-text-xs">
        <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Join us</h1>
      </div>
      <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
        <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5"></p>
      </div>
    </div>
  </div>
</div>

<div class="pi-section-w pi-section-white">
  <div class="pi-section pi-padding-bottom-30">

    <!-- Openings -->
    <div class="pi-tabs-vertical pi-responsive-sm">
      <ul class="pi-tabs-navigation-no-js pi-tabs-navigation-transparent-no-js" id="myTabs">
        <li class="pi-active"><a href="#devops">DevOps / LINUX SA</a></li>
      </ul>

      <div class="pi-tabs-content-no-js pi-tabs-content-transparent-no-js">

        <!-- Tab content -->
        <div class="pi-tab-pane-no-js pi-active-no-js" id="devops">

          <h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">DevOps / LINUX SA</h2>

          <p>
            Helios Technologies is a private company based in Paris, France. Early open source
            technology adopter, we are now entirely focused on the legacy modernization market with
            our Continuous delivery platform for mainframe systems (CDP).
          </p>

          <p>
            We provide complete modernization solutions Devops Platform, Refine® technology &
            project delivery services - in the following areas: mainframes migrations, languages &
            database migrations, Big data and code agilization. Our clients come from all industries
            around the world with common needs for costs reductions, obsolete technologies
            replacements, agilization of current IT environments.
          </p>

          <h3 class="h4 pi-has-border pi-has-short-border">Mission</h3>

          <p>
            To strengthen our research lab in Kiev, we are looking for a system engineer which main
            task will be to:
          </p>

          <ul class="pi-list-with-icons pi-list-icons-right-dir">
            <li>Participate in technical thinking implementation of the CDP solutions</li>
            <li>Create and maintain deployment scripts - Shell and Ansible</li>
            <li>Work on systems issues such as virtualization, Big Data filesystem</li>
            <li>Database administration automation, Test data manipulation</li>
            <li>Participate in Platform administration including Virtualization Solution z/OS Our Tools & Qualifications:</li>
            <li>Chef, Ansible</li>
            <li>Git, Gerrit</li>
            <li>Ruby, Lisp, Java, Go</li>
            <li>Logstash, ElasticSearch</li>
            <li>OpenStack, Linux KVM</li>
            <li>Docker / CoreOS</li>
            <li>MySQL / MongoDB / Postgresql</li>
            <li>Jenkins / Rundeck</li>
          </ul>

          <p>
            As a DevOps Engineer at Helios, you will utilize your combination of significant Linux
            experience, network knowledge, scripting abilities, information security and debugging skills
            to design, deploy, monitor and automate all operational aspects of the CDP platform.
          </p>

          <p>
            You will be joining the DevOps and Security team and be responsible for deploying both
            offensive and defensive techniques to keep our platform humming. You should have a
            background in large-scale system administration and be familiar with open source
            technologies, such as Jenkins, Ansible and MySQL. You will work very closely with the
            product and development teams.
          </p>

          <h3 class="h4 pi-has-border pi-has-short-border">Responsibilities</h3>

          <ul class="pi-list-with-icons pi-list-icons-right-dir">
            <li>Responsible for the overall health and performance of our platform</li>
            <li>Build from the ground up reliable infrastructure components to deliver highly scalable services</li>
            <li>You should know standard security practices and also be able to identify any potential application specific vulnerabilities</li>
            <li>Tools development. We want engineers that can automate the deployment, administration and monitoring of our large-scale Linux environments</li>
            <li>Gain deep application-level knowledge of the systems as well as contributing to their overall design</li>
          </ul>

          <hr>

          <%= link_to "Apply for this job", contact_path, class: "btn pi-btn-big pi-btn-base" %>

        </div>
      </div>

    </div>
  </div>
</div>