<div class="pi-section-w pi-section-base">
  <div style="padding: 30px 40px 26px" class="pi-section">
    <div class="pi-row">
      <div class="pi-col-sm-4 pi-center-text-xs">
        <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Our Partners</h1>
      </div>
      <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
        <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5"></p>
      </div>
    </div>
  </div>
</div>

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white pi-slider-enabled piTooltips piSocials">
  <div class="pi-section pi-padding-bottom-10">

    <div class="pi-row">

      <div class="pi-col-sm-4">

        <div class="pi-img-w pi-img-round-corners pi-img-left">
          <%= image_tag "partners/metaware.png" %>
        </div>

      </div>
      <div class="pi-col-sm-8">

        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing">
          Leading provider of transformation technology
        </h2>

        <p class="lead-20">
          European leader of IT costs reduction, Metaware is entirely focused on the legacy modernization market.
        </p>

        <p>
          With over 70 experts, Metaware provides complete modernization solutions ‐Refine® technology & project delivery services – in the following areas: mainframes migrations, languages & database migrations, and code agilization.
        </p>

        <p>
          Metaware's clients come from all industries around the world with common needs for costs reductions, obsolete technologies replacements, agilization of current IT environments.
        </p>


        <%= link_to "Visit Metaware website", "http://www.metaware.fr", target: "_blank" %>


        </div>
        <!-- End row -->

      </div>

  <div class="pi-row">

      <hr class="pi-divider pi-divider-bigger">

      <div class="pi-col-sm-4">

        <div class="pi-img-w pi-img-round-corners pi-img-left">
          <%= image_tag "partners/ibm.png" %>
        </div>

      </div>
      <div class="pi-col-sm-8">

        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing">
          International Business Machines Corporation
        </h2>

        <p class="lead-20">
          IBM manufactures and markets computer hardware, middleware and software, and offers infrastructure, hosting and consulting services in areas ranging from mainframe computers to nanotechnology.
        </p>

        <p>
          "With so much technology and networking available at such low cost, what wouldn’t you enhance? What wouldn’t you connect? What information wouldn’t you mine for insight? What service wouldn’t you provide a customer, a citizen, a student or a patient?"
        </p>

        </div>
        <!-- End row -->

      </div>

      <div class="pi-row">

      <hr class="pi-divider pi-divider-bigger">
      <div class="pi-col-sm-4">

        <div class="pi-img-w pi-img-round-corners pi-img-left">
          <%= image_tag "partners/oracle.png" %>
        </div>

      </div>
      <div class="pi-col-sm-8">

        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing">
          Oracle Corporation
        </h2>

        <p class="lead-20">
          The Oracle Corporation is an American global computer technology corporation, headquartered in Redwood City, California, United States.
        </p>

        <p>
          The company primarily specializes in developing and marketing computer hardware systems and enterprise software products, particularly its own brands of database management systems. In 2011 Oracle was the second-largest software maker by revenue, after Microsoft.<br>
          The company also develops and builds tools for database development and systems of middle-tier software, enterprise resource planning (ERP) software, customer relationship management (CRM) software and supply chain management (SCM) software.
        </p>

        <hr>

        </div>
        <!-- End row -->

      </div>


    </div>

  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
