<div class="pi-section-w pi-section-base">
  <div style="padding: 30px 40px 26px" class="pi-section">
    <div class="pi-row">
      <div class="pi-col-sm-4 pi-center-text-xs">
        <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Products</h1>
      </div>
      <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
        <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5"></p>
      </div>
    </div>
  </div>
</div>


<div class="pi-section-w pi-section-white">
  <div class="pi-section pi-padding-bottom-30">

    <!-- Post -->
    <div class="pi-row">

      <!-- Post thumbnail -->
      <div class="pi-col-sm-4">
        <div>
          <%= image_tag "products/devstack.png" %>
        </div>
      </div>
      <!-- End post thumbnail -->

      <!-- Post content -->
      <div class="pi-col-sm-8">
        <h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">
          <a href="#" class="pi-link-dark">DevOps Platform for enterprises</a>
        </h2>
        <p>
          DevStack is an opinionated script to quickly create an OpenStack development environment. It can also be used to demonstrate starting/running OpenStack services and provide examples of using them from a command line.
        </p>
        <p>
          DevStack's mission is to provide and maintain tools used for the installation of the central OpenStack services from source (git repository master, or specific branches) suitable for development and operational testing. It also demonstrates and documents examples of configuring and running services as well as command line client usage.
        </p>
      </div>
      <!-- End post content -->
      </div>

      <div class="pi-row">
      <hr class="pi-divider pi-divider-bigger">
      <!-- Post thumbnail -->
      <div class="pi-col-sm-4">
        <div>
          <%= image_tag "products/devshell.png" %>
        </div>
      </div>
      <!-- End post thumbnail -->

      <!-- Post content -->
      <div class="pi-col-sm-8">
        <h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">
          <a href="#" class="pi-link-dark">The DevOps Shell</a>
        </h2>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi...
        </p>
      </div>
      <!-- End post content -->


    </div>
  </div>
</div>

<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-shadow-inside-top pi-section-grey">
  <div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
    <p class="lead-30">
      <span>Have a project with us? <span class="pi-weight-400">Feel free.</span></span>
<%= link_to raw("<i class='icon-mail pi-icon-left'></i> Get in Touch"), contact_path, style: "margin-left: 25px;", class: "btn pi-btn-base-2 pi-btn-big" %>
    </p>
  </div>
</div>
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
