<div class="pi-section-w pi-section-base">
  <div style="padding: 30px 40px 26px" class="pi-section">
    <div class="pi-row">
      <div class="pi-col-sm-6 pi-center-text-xs">
        <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Enterprise Private Cloud Hosting</h1>
      </div>
      <div class="pi-col-sm-6 pi-text-right pi-center-text-xs">
        <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">
          Focus on your Business, not your infrastructure
        </p>
      </div>
    </div>
  </div>
</div>


<div class="pi-section-w pi-section-white">
  <div class="pi-section pi-padding-bottom-30">

    <div class="pi-row">

       <div class="pi-col-sm-6">

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-database"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>We architect</h4>
              <p>Build your app, we’ll take care of the rest.</p>
            </div>
          </div>
        </div>

        <hr class="pi-divider pi-divider-dashed">

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-cog"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>We build</h4>
              <p>Focus on your Business, not your infrastructure.</p>
            </div>
          </div>
        </div>

        <hr class="pi-divider pi-divider-dashed">

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-rocket"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>We manage</h4>
              <p>We have experience designing, implementing, and running production OpenStack clouds for hundreds of enterprises.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="pi-col-sm-5 pi-col-sm-offset-1">
        <p class="lead-30 pi-text-dark pi-text-center pi-padding-bottom-10">
          Get a managed OpenStack cloud in three easy steps
        </p>
        <%= image_tag "logos/openstack-square.png", class: "pi-center" %>
      </div>

    </div> <!-- /row -->


  </div>
</div>

<div class="clear"></div>

<%= render "shared/request_a_quote_footer" %>