<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-shadow-inside-top pi-section-grey">
  <div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
    <p class="lead-30">
      <span>Have a project with us? <span class="pi-weight-400">Feel free.</span></span>
<%= link_to raw("<i class='icon-mail pi-icon-left'></i> Get in Touch"), contact_path, style: "margin-left: 25px;", class: "btn pi-btn-base-2 pi-btn-big" %>
    </p>
  </div>
</div>
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->