<li><%= link_to "https://twitter.com/heliosgroup", class: "pi-social-icon-twitter", target: "_blank" do %><i class="icon-twitter"></i><% end %></li>
<li><%= link_to "https://github.com/helios-technologies", class: "pi-social-icon-github", target: "_blank" do %><i class="icon-github"></i><% end %></li>
<li><%= link_to "https://www.linkedin.com/company/helios-technologies", class: "pi-social-icon-linkedin", target: "_blank" do %><i class="icon-linkedin"></i><% end %></li>