
<% content_for :title, "CV: Louis Bellet" %>

<div class="row cv-section">
  <div class="span9">

    <div class="cv-section-title">

      <%= image_tag 'louis.jpg', size: "140x140" %>

      <h1>
        Louis Bellet
        <small>Senior Devops Architect</small>
      </h1>

    </div><!-- end .cv-section-title -->

  </div><!-- end .span9 -->
  <div class="span3">

    <div class="cv-item">

      <div class="social-media fixed">

        <a href="https://github.com/mod" class="github-icon social-icon">
          <i class="fa fa-github"></i>
        </a>

        <a href="https://twitter.com/cloudfirecorp" class="twitter-icon social-icon">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="https://plus.google.com/115471537601307266643/about" class="googleplus-icon social-icon">
          <i class="fa fa-google-plus"></i>
        </a>

        <a href="https://hk.linkedin.com/in/louisbellet" class="linkedin-icon social-icon">
          <i class="fa fa-linkedin"></i>
        </a>

      </div>

      <p class="last">
      <span class="hidden-tablet">Email: </span><a href="mailto:lbellet@heliostech.fr">lbellet@heliostech.fr</a>
      <br><span class="hidden-tablet">Phone: </span> +33 (0) 6 99 45 45 56
      <br><span class="hidden-tablet">Skype: </span> mod.websys
      <br><span class="hidden-tablet">Web: </span><a href="#">www.heliostech.fr</a>
      </p>

    </div><!-- end .cv-item -->

  </div><!-- end .span3 -->
</div><!-- end .cv-section -->	

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #header -->
<div id="content">

  <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="row cv-section">
    <div class="span3">

      <div class="cv-section-title">

        <h2>Profesional Profile</h2>

      </div><!-- end .cv-section-title -->

    </div><!-- end .span3 -->
    <div class="span9">

      <div class="cv-item">

        <p>
        A proven leader of IT startups and established operations offering expertise in technical strategies that implement overall business objectives. Design and Develop fullstack technical solutions for multimillion-dollar operations.
        </p>

        <p>
        Translating Business needs into pragmatic technical implementations.<br />
        Focusing on Time-to-Market with release management and continous integrations.
        </p>

        <p>
        Over 10 years of experience in application development using Ruby, Python, Java, PHP, C++, C# and C.<br />
        Design application Framework for development cost reduction and reliable release which include testability.
        </p>

        <p>
        Design and Deployment of large scale cluster for storage and processing of big dataset.<br />
        Define and Implement computers security policies for public services or large scale organisations.<br />
        Experienced in deployment of PetaByte infrastructures and Billion daily queries web services.
        </p>

        <p>
        Early OpenSource adopter and contributor with Linux KVM, LibVirt, Ruby gems, Hadoop and Lucene.<br />
        Over 12 years of experience in system administration and linux cluster setup, nowaday called devops.<br />
        Experienced in managing Internet top 100 websites and networks in production.
        </p>

        <p class="last">
        After spending 12 years in the B2C Internet industry, I am shifting my focus on mentoring B2B business owner with our best practices.
        </p>

      </div><!-- end .cv-item -->

    </div><!-- end .span9 -->
  </div><!-- end .cv-section -->

  <div class="row cv-section">
    <div class="span3">

      <div class="cv-section-title">

        <h2>Technical Skills</h2>

      </div><!-- end .cv-section-title -->

    </div><!-- end .span3 -->
    <div class="span9">

      <div class="cv-item">

        <p class="period">Expert, 12 Years</p>

        <div class="fixed">

          <div class="progress-bar-description text-uppercase">
            Dev &amp; Ops
            <span style="left:90%">90%</span>
          </div><!-- end .progress-bar-description -->

          <div class="progress-bar">  
            <span class="progress-bar-outer" data-width="90"> 
              <span class="progress-bar-inner"></span> 
            </span>
          </div><!-- end .progress-bar -->

        </div>

        <br class="clear">

        <p class="last">There is no such things as a devops, there is just experienced system administrator and developpers.
        Devops must have a great understanding of software developments process and release management. The software quality and testing being part of great release management. The Devops are the cloud builders. I mastered my skills spending thousands of hours setting up Linux clusters using open-source.</p>

      </div><!-- end .cv-item -->

      <div class="cv-item">

        <p class="period">Senior, 10 Years</p>

        <div class="fixed">

          <div class="progress-bar-description">
            Software Architect
            <span style="left:73%">73%</span>
          </div><!-- end .progress-bar-description -->

          <div class="progress-bar">  
            <span class="progress-bar-outer" data-width="73"> 
              <span class="progress-bar-inner"></span> 
            </span>
          </div><!-- end .progress-bar -->

        </div>

        <br class="clear">

        <p class="last">Having Designed over a dozen large scale systems, I learned by the hard way how to make good software.
        My area of Expertise is implementation of database services mainly for the web. I have been writing code mostly in Ruby, Java, PHP, Bash and C.
        I am writing code base stubs for initiating a new project having maintenability, testability and software cost as main concerns.
        A good Architecture must have the following properties: Efficient Cost, Reliable, Extensibility, Scalability.
        </p>

      </div><!-- end .cv-item -->

      <div class="cv-item">

        <p class="period">Advanced, 6 Year</p>

        <div class="fixed">

          <div class="progress-bar-description">
            Big Data Engineer
            <span style="left:60%">60%</span>
          </div><!-- end .progress-bar-description -->

          <div class="progress-bar">  
            <span class="progress-bar-outer" data-width="60"> 
              <span class="progress-bar-inner"></span> 
            </span>
          </div><!-- end .progress-bar -->

        </div>

        <br class="clear">

        <p>Big Data here refers to larger dataset than 50-100 TeraByte, requiring thousands of cores.</p>

        <p class="last">
        Early adopter of Hadoop through nutch project, I spent 7 years building a google like Search engine.
        My Big Data experience was mostly crawling billion of pages, storing and processing them for text based indexing.
        We made contributions to nutch project and several Hadoop side projects.
        The big data experience can be applyed to any business needs using cascading, hive, pig, hbase.
        I am not so much an hadoop job development but a Big data system architect.
        </p>

      </div><!-- end .cv-item -->

    </div><!-- end .span9 -->
  </div><!-- end .cv-section -->

  <div class="row cv-section">
    <div class="span3">

      <div class="cv-section-title">

        <h2>Work Experience</h2>

      </div><!-- end .cv-section-title -->

    </div><!-- end .span3 -->
    <div class="span9">

      <div class="cv-item">

        <p class="period">September 2007 - Present</p>

        <h3><strong>Chef Technical Officer</strong></h3>
        <h4>Helios Cloud, Full-Time</h4>

        <br>

        <p>
        Tailor made for startup needs, Helios Cloud is an elastic cloud computing hosting company. We provide tailor made hosting solutions for our customers from their development platform to their production environements. We design, build and deploy their cloud applications.
        </p>

        <ul class="fill-circle">
          <li>Multi-Datacenter setup, Hardware and network configuration.</li>
          <li>Design and setup of the cloud software stack, currently OpenStack.</li>
          <li>Hire, Train and manage our devops team.</li>
        </ul>

      </div><!-- end .cv-item -->

      <div class="cv-item">

        <p class="period">January 2008 - April 2014</p>

        <h3><strong>Chef Executive Officer</strong></h3>
        <h4>Web Venture, Full-Time</h4>

        <br>

        <p>My previous work, WebVenture, an investment fund targeting Internet projects. We provide seed funding, company administration support, outsourcing of developer teams, providing traffic to our funded projects. WebVenture is the key turn solution for internet entrepreneurs.</p>

        <ul class="fill-circle">
          <li>Business planning, development and Financing (multimillion-dollar and 5 locations)</li>
          <li>Executive management and Technical Leadership (60 collaborators)</li>
          <li>Lean Startup Strategies and lean mindset training</li>
          <li>Way too much Software Design and development</li>
        </ul>

      </div><!-- end .cv-item -->

    </div><!-- end .span9 -->
  </div><!-- end .cv-section -->

  <div class="row cv-section">
    <div class="span3">

      <div class="cv-section-title">

        <h2>Education</h2>

      </div><!-- end .cv-section-title -->

    </div><!-- end .span3 -->
    <div class="span9">

      <div class="cv-item">

        <h3><strong>Education: entrepreneurship</strong></h3>
        <h4>Master in Computer Science equivalent</h4>

        <br>

        <p class="last">
        Don't waste your time here, I am a self taught entrepreneur and computer scientist.
        I started my first internet company at age of 18 after an Electronic engineer degree.
        </p>

      </div><!-- end .cv-item -->

    </div><!-- end .span9 -->
  </div><!-- end .cv-section -->

  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #content -->
<div id="footer">

<!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
