  <div class="pi-section-w pi-section-base">
    <div style="padding: 30px 40px 26px" class="pi-section">
      <div class="pi-row">
        <div class="pi-col-sm-4 pi-center-text-xs">
          <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Who We Are</h1>
        </div>
        <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
          <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">Creating innovative products from the ground up.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- - - - - - - - - - SECTION - - - - - - - - - -->

  <div class="pi-section pi-section-white">

    <div class="pi-tabs-vertical-no-js pi-responsive-sm-no-js">

      <%= render "side_nav" %>


      <div class="pi-tabs-content-no-js pi-tabs-content-transparent">
        <div class="pi-tab-pane pi-active">
          <div>
           <h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">
            Areas of expertise
          </h3>

          <div class="pi-row">
            <div class="pi-col-sm-6">
              <h4 class="h5">System Development</h4>
              <ul class="pi-list-with-icons pi-list-icons-dot">
                <li>JCL</li>
                <li>Rexx</li>
                <li>Ruby</li>
                <li>Python</li>
                <li>Bash</li>
              </ul>
            </div>
            <div class="pi-col-sm-6">
              <h4 class="h5">Configuration Management</h4>
              <ul class="pi-list-with-icons pi-list-icons-dot">
                <li>Chef</li>
                <li>Ansible</li>
                <li>Devshell</li>
                <li>Vagrant</li>
                <li>GIT</li>
              </ul>
            </div>
          </div>

          <div class="pi-row">
            <div class="pi-col-sm-6">
              <h4 class="h5">Big Data</h4>
              <ul class="pi-list-with-icons pi-list-icons-dot">
                <li>Hadoop</li>
                <li>MapReduce</li>
                <li>HBase</li>
                <li>Zookeeper</li>
                <li>Ceph</li>
                <li>Spark</li>
              </ul>
            </div>

            <div class="pi-col-sm-6">
              <h4 class="h5">Cloud and Virtualization</h4>
              <ul class="pi-list-with-icons pi-list-icons-dot">
                <li>Linux / KVM</li>
                <li>Xen</li>
                <li>LibVirt</li>
                <li>OpenStack</li>
                <li>Docker</li>
              </ul>
            </div>
          </div>

          <div class="pi-row">
            <div class="pi-col-sm-6">
              <h4 class="h5">Search engine technologies</h4>
              <ul class="pi-list-with-icons pi-list-icons-dot">
                <li>Nutch</li>
                <li>Lucene</li>
                <li>Elastic Search</li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->


<%= render "shared/request_a_quote_footer" %>