  <div class="pi-section-w pi-section-base">
    <div style="padding: 30px 40px 26px" class="pi-section">
      <div class="pi-row">
        <div class="pi-col-sm-4 pi-center-text-xs">
          <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Who We Are</h1>
        </div>
        <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
          <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">We provide complete modernization solutions Devops Platform</p>
        </div>
      </div>
    </div>
  </div>

  <!-- - - - - - - - - - SECTION - - - - - - - - - -->

  <div class="pi-section pi-section-white">

    <div class="pi-tabs-vertical-no-js pi-responsive-sm-no-js">
      <%= render "side_nav" %>

      <div class="pi-tabs-content-no-js pi-tabs-content-transparent">
        <div class="pi-tab-pane pi-active">
          <div class="pi-row">
            <div class="pi-col-sm-12">
              <h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25 pi-has-bg">
                Helios Technologies S.A.S.
              </h3>
              <p class="lead-16">
               Helios Technologies is a private company based in Paris, France.
             </p>
             <p>
               Early open source technology adopter, we are now entirely focused on the legacy modernization market with our Continuous delivery platform for mainframe systems (CDP).
             </p>
           </div>
         </div>
         <div class="pi-row">
          <div class="pi-col-sm-5">
            <div class="pi-img-w pi-img-round-corners pi-img-shadow pi-img-left pi-margin-top-5">
              <%= image_tag "paris.jpg" %>
            </div>
          </div>
          <div class="pi-col-sm-7">
            <p>
              We provide complete modernization solutions Devops Platform, Refine® technology & project delivery services - in the following areas:
            </p>
            <ul class="pi-list-with-icons pi-list-icons-right-open">
              <li>Mainframes migrations,</li>
              <li>Languages & database migrations,</li>
              <li>Big data and code agilization.</li>
            </ul>
          </div>
        </div>
        <div class="pi-row">
          <div class="pi-col-sm-12">
            <p>
              Our clients come from all industries around the world with common needs for costs reductions, obsolete technologies replacements, agilization of current IT environments.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<%= render "shared/request_a_quote_footer" %>