  <div class="pi-section-w pi-section-base">
    <div style="padding: 30px 40px 26px" class="pi-section">
      <div class="pi-row">
        <div class="pi-col-sm-4 pi-center-text-xs">
          <h1 class="h2 pi-weight-300 pi-margin-bottom-5">Who We Are</h1>
        </div>
        <div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
          <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">Creating innovative products from the ground up.</p>
        </div>
      </div>
    </div>
  </div>


  <!-- - - - - - - - - - SECTION - - - - - - - - - -->

  <div class="pi-section pi-section-white">


    <div class="pi-tabs-vertical-no-js pi-responsive-sm-no-js">
      <%= render "side_nav" %>



      <div class="pi-tabs-content-no-js pi-tabs-content-transparent">
        <div class="pi-tab-pane pi-active">


          <h3 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-20 pi-has-bg">
            Our team
          </h3>

          <div class="pi-row">
            <div class="pi-col-sm-4 pi-col-xs-6 pi-padding-bottom-50">
              <!-- Team member -->
              <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                <a href="#">
                  <%= image_tag "louis.jpg" %>
                  <span class="pi-img-overlay">
                    <span class="pi-caption-centered">
                      <span>
                        <span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <h3 class="h4 pi-margin-bottom-5">Louis Bellet</h3>
              <p class="pi-italic pi-text-base pi-margin-bottom-10">
                Co-Founder
              </p>
              <p class="pi-margin-bottom-20">
                Web enthusiast, web architect and business strategist whose passion and drive has led to a successful career in the industry.
                <br>
                A highly specialized consultant for funded startups who brings vast experience and a profound understanding of web-based solutions to the table.
              </p>
              <ul class="pi-social-icons pi-round pi-small pi-colored-bg pi-jump clearFix">
                <li><a href="https://hk.linkedin.com/in/louisbellet" target="_blank" class="pi-social-icon-linkedin"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://github.com/mod/" target="_blank" class="pi-social-icon-github"><i class="icon-github"></i></a></li>
              </ul>

              <!-- End team member -->
            </div>

            <div class="pi-col-sm-4 pi-col-xs-6 pi-col-sm-offset-2 pi-padding-bottom-50">
              <!-- Team member -->
              <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                <a href="#">
                  <%= image_tag "camille.jpg" %>
                  <span class="pi-img-overlay">
                    <span class="pi-caption-centered">
                      <span>
                        <span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
              <h3 class="h4 pi-margin-bottom-5">Camille Meulien</h3>
              <p class="pi-italic pi-text-base pi-margin-bottom-10">
                Co-Founder
              </p>
              <p class="pi-margin-bottom-20">
                Camille holds an engineer's degree, Computer Engineering for Real-time and Embedded Systems, from Epita school.
                <br>
                He is specialized in: High traffic websites architectures, Distributed systems and Big Data, Search Engine technologies, Cloud computing, Agile and Startup mindset.
              </p>
              <ul class="pi-social-icons pi-round pi-small pi-colored-bg pi-jump clearFix">
                <li><a href="https://www.linkedin.com/in/camillemeulien" target="_blank" class="pi-social-icon-linkedin"><i class="icon-linkedin"></i></a></li>
                <li><a href="https://github.com/calj" target="_blank" class="pi-social-icon-github"><i class="icon-github"></i></a></li>

              </ul>

              <!-- End team member -->
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->




<%= render "shared/request_a_quote_footer" %>